<img src="/assets/tell.jpg" class="img-thumbnail" width="80%" height="50%">
<div class="card" style="width: 80%">
  <div class="card-header">タルコフ整骨院</div>
    <img src="/assets/stor.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">住所</h5>
        <p class="card-text">〒１１１−１１１１</br>
        ロシア県ground zero</br>
        Fuion</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">電話</h5>
        <p class="card-text">TEL 000-111-1111</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">営業時間</h5>
        <p class="card-text">午前/10:00~11:30</p>
        <p class="card-text">午後/13:00~20:00</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">休診日</h5>
        <p class="card-text">日曜日</p>
      </div>
</div>
