<div class="row">
  <div class="col-lg-4">
    <h2>saidbar</h2>
        <%= render 'sadbar'%>
  </div>
  <div class="col-lg-8">
    <h1 class="text-center border border-primary">料金表</h1>
     
    <h2 class="mt-5 text-center border border-primary">所要時間</h2>
      <table class="table text-center ">
          <tr>
            <th class="col-6 bg-primary bg-gradient text-white">初回</th>
            <td class="border border-primary">60〜90分</td>
          </tr>
          <tr>
            <th class="col-6 bg-primary bg-gradient text-white">2回目以降</th>
            <td class="border border-primary">10~15分</td>
          </tr>
          <tr>
            <th class="col-6 bg-primary bg-gradient text-white">施術料</th>
            <td class="border border-primary">3,300円〜3,800円(税込)</td>
          </tr>
      </table>
      <p>施術前に必ず検査を行い状態の把握をしていきます。術者のみが検査のみが検査データを把握するの</br>
      ではなく、必ず患者様と一緒にお体の状態を確認していきます。</p>
      
  </div>
</div>