<div class="row">
  <img src="/assets/main.jpg" class="img-thumbnail" width="100%" height="50%">
  <div class="col-lg-4">
    <h2>saidbar</h2>
  </div>
  <div class="col-lg-8">
    <h1>main</h1>
    
  </div>
</div>