<div class="row">
  <img src="/assets/main.jpg" class="img-fluid">
  <div class="col-lg-4">
    <h2>saidbar</h2>
      <%= render 'sadbar'%>
  </div>
  <div class="col-lg-8">
    <h1>main</h1>
      <div class="card border border-0" style="width: 80%;">
        <h5 class="card-header bg-primary">当院おすすめメニュー</h5>
        <div class="card-body">
          <p class="card-text">当院は、姿勢矯正と自律神経の乱れによる不調の治療に自信があります！</p>
          <p class="card-text">医学的・科学的根拠のある検査データに基づいた治療で、あなただけのオーダーメイド治療を提供します。どこへ行っても良くならなかった頭痛・肩こり・腰痛・自律神経の乱れでお悩みの方は、ぜひ当院にお任せください。</p>
          <p class="card-text">症状を一時的に軽減するのではなく、痛みや不調、病気になりにくい身体へと導きます。</p>
      </div>
  </div>
 </div>