<div class="row">
  <div class="col-12 h-25">
    <img src="/assets/main.jpg" class="img-fluid">
  </div>
    
  <div class="col-lg-4">
    <h2>saidbar</h2>
      <%= render 'sadbar'%>
  </div>
  <div class="col-lg-8">
    <h1>main</h1>
    
  </div>
</div>